.dropdown {
  position: relative;
  width: max-content;

  display: flex;
  flex-direction: column;
}
.label {
  color: rgb(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;

  line-height: 100%;
}
.labelActive {
  color: #fff;
}
.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}
.sm .labelContainer {
  padding: 8px 14px;
}
.arrow {
  font-size: 14px;
  color: rgb(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: auto;
}
.upArrow {
  color: var(--Primitive-0);
}
.dropdownMain {
  min-width: calc(100% + 2px);
  width: max-content;
  position: absolute;
  right: 0;
  right: 0;

  top: calc(100% + 8px);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  border: 1px solid var(--Primitive-950);
  border-radius: 4px;
  background: var(--Primitive-950);
}

.list {
  height: 0;
  overflow: hidden;
}

.dropdownMain.active {
  opacity: 1;
  pointer-events: all;
}
.active .list {
  overflow: auto;
  max-height: 250px;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  text-transform: capitalize;
}

.listItem {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 6px;
  height: 40px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--Primitive-700);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.listItem.active {
  background: var(--Primitive-Default);
  color: var(--Primitive-0);
}
.listItem:hover {
  background: var(--Input-Bg);
  color: var(--Primitive-0);
}
/* .listItem.active {
}
.listItem:hover {
  opacity: 0.8;
} */
