.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  width: 100%;
}
.center {
  align-items: center;
  margin: 0 auto;
}

.title {
  letter-spacing: -0.54px;
}
@media only screen and (max-width: 1199px) {
  .header {
    gap: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .header {
    gap: 8px;
  }
}
