.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.header {
  max-width: 485px;
}
.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 1;
}
.img {
  width: 100%;
  border-radius: 32px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  min-height: 400px;
  width: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}
.testimonialContainer:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}
.infoContainer {
  max-width: 515px;
  width: 100%;

  padding: 48px;

  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: auto;
}

.testimonialContainer .title {
  opacity: 0.9;
}
.testimonialContainer .info {
  opacity: 0.5;
}
.testimonialContainer.active .title,
.testimonialContainer.active .info {
  opacity: 1;
}
.testimonialContainer.active .info {
  opacity: 0.5;
}
.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
.line {
  height: 2px;
  width: 48px;

  background: rgb(255, 255, 255, 0.2);
}
.line::before {
  content: "";
  height: 2px;
  width: 0;
  opacity: 0.7;
  top: 0;
  position: absolute;
  transform: translateY(0);
}
.line.active::before {
  width: 48px;
  background: var(--Primitive-0);
  opacity: 1;
  transition: width 5s linear;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  padding: 24px;
}
.firstIndex {
  grid-row: span 2;
  background: url(../../../images/pattern.svg);
}
.logo {
  max-width: 160px;
  width: 100%;
  margin-bottom: 12px;
}
.title {
  margin-top: auto;
}
@media only screen and (max-width: 991px) {
  .container {
    gap: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
  .firstIndex {
    grid-row: auto;
  }
}
@media only screen and (max-width: 520px) {
  .infoContainer {
    padding: 24px;
    padding-bottom: 40px;
  }
  .line {
    width: 24px;
  }
  .line.active::before {
    width: 24px;
  }
}
