.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.header {
  max-width: 400px;
}
.cards {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 24px;
}
.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  gap: 12px;
}
.icon {
  max-width: 24px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .container {
    gap: 32px;
  }
  .card {
    padding: 12px;
  }
  .cards {
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: 0 auto;
  }
}
