.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.tab {
  color: var(--Primitive-0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 6px;
  background: var(--Primitive-Light-6);
  padding: 8px 20px;
  white-space: nowrap;
  cursor: pointer;
}
.tab:hover {
  transform: translate(0);
}
.tab:active {
  transform: translate(0);
}

.activeTab {
  background: var(--Primitive-Default);
  color: var(--Primitive-0);
}
.activeSell.activeTab {
  background: rgba(220, 73, 73, 0.08);
  color: var(--Primitive-Error);
}
@media only screen and (max-width: 520px) {
  .type2 {
    grid-template-columns: 1fr 1fr;
  }
  .type2 .tab {
    padding: 6px;
  }
  .type2 .tab:last-child {
    grid-column: 1/-1;
  }
}
